body {
    background: #F1E7D0;
}


/*
 * -----------------
 * Set Font
 * -----------------
 */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), url("https://www.puritys.me/filemanage/fonts/PT Mono.woff") format('woff');
}

@font-face {
  font-family: 'IBMPlex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBMPlex Mono'), url("https://www.puritys.me/filemanage/fonts/IBMPlexMono-Regular-Latin1.woff2") format('woff2');
  /* unicode number 1-9*/
  unicode-range: U+0031-0039;
}


@font-face {
  font-family:'SF Mono';
  font-style:normal;
  font-weight:400;
  src:local('SF Mono'), url("https://www.puritys.me/filemanage/fonts/SFMono-Regular.woff") format("woff");
}

@font-face {
  font-family: 'PowerlineSymbols';
  font-style: normal;
  font-weight: 400;
  src: local('PowerlineSymbols'), url(https://www.puritys.me/filemanage/fonts/PowerlineSymbols.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono for Powerline';
  font-style: normal;
  font-weight: 200;
  src: local('Roboto Mono for Powerline'), url(https://www.puritys.me/filemanage/fonts/Roboto\ Mono\ for\ Powerline.woff) format('woff');
}


body, body x-screen x-row {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/*SF Mono*/
/*
body, body x-screen x-row {
  font-family: "SF Mono", "Roboto Mono for Powerline", "微軟正黑體";
"PT Mono", "Roboto Mono for Powerline"
}*/

/*PT Mono + IBM Plex Mono */
body, body x-screen x-row {
  font-family: "IBMPlex Mono", "PT Mono", "Monaco", "Roboto Mono for Powerline", "PowerlineSymbols", "Monaco", "微軟正黑體";
}
