body, body x-screen[style], body x-screen > div {
    background: #F1E7D0 !important;
    color: black !important;
}

/* cursor color */
.cursor-node[style][focus=true] {
    background-color: rgba(35,147,244,0.5) !important; // #2393f4
}

.cursor-node[style][focus=false] {
    border-color: #2393f4 !important;
}

/*
 *  Make span of row has 100% height to fix different font-size, if you use multi fonts at the same time.
 **/
/*body x-screen x-row span {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}*/

/*
 * -----------------
 * Set Font
 * Create Font Tool: http://www.glyphrstudio.com/online/
 * -----------------
 */
@font-face {
  font-family: 'PT Mono';
  font-style: normal;
  font-weight: 400;
  src: local('PT Mono'), url("https://www.puritys.me/filemanage/fonts/PT Mono.woff") format('woff');
  /* unicode number 0-9,a-z,A-Z*/
  unicode-range: U+0001-0080;
}

@font-face {
  font-family: 'IBMPlex Mono';
  font-style: normal;
  font-weight: 400;
  src: local('IBMPlex Mono'), url("https://www.puritys.me/filemanage/fonts/IBMPlexMono-Regular-Latin1.woff2") format('woff2');
  /* unicode number 1-9*/
  unicode-range: U+0031-0039;
}


@font-face {
  font-family:'SF Mono';
  font-style:normal;
  font-weight:400;
  src:local('SF Mono'), url("https://www.puritys.me/filemanage/fonts/SFMono-Regular.woff") format("woff");
  /* unicode number 0-9,a-z,A-Z*/
  unicode-range: U+0001-0080;
}

@font-face {
  font-family:'Cust SF Mono';
  font-style:normal;
  font-weight:400;
  src:local('Cust SF Mono'), url("https://www.puritys.me/filemanage/fonts/CustFont-SFMono.woff2") format("woff2");
  /* unicode number 0-9,a-z,A-Z*/
  unicode-range: U+0001-0080;
}

/*
 * PowerLine
 */

@font-face {
  font-family: 'Roboto Mono for Powerline';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono for Powerline'), url(https://www.puritys.me/filemanage/fonts/Roboto\ Mono\ for\ Powerline.woff) format('woff');
}

@font-face {
  font-family: 'Cust SF Mono Powerline';
  font-style: normal;
  font-weight: 400;
  src: local('Cust SF Mono Powerline'), url(https://www.puritys.me/filemanage/fonts/CustFont-SFMono-Powerline.woff) format('woff');
}



body, body x-screen x-row {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/*SF Mono*/

body, body x-screen x-row {
  font-family: "Cust SF Mono", "Monaco", "Cust SF Mono Powerline", "微軟正黑體";
}

/*PT Mono + IBM Plex Mono */
/*
body, body x-screen x-row {
  font-family: "IBMPlex Mono", "PT Mono", "Monaco", "Roboto Mono for Powerline", "微軟正黑體";
}*/
