snippet button_add
	ElevatedButton(
		onPressed: () {
			print('button pressed!');
		},
		child: Text('Next'),
	)

snippet padding
	Padding(
		padding: const EdgeInsets.only(top:10, bottom: 10),
		child: Text("xx")
	);
