snippet main
	package com.yyy.zz;
	import spock.lang.Specification
	class CXXTest extends Specification {
		Config mockConfig
		def setup() {
			mockConfig = Mock(Config)
		}
	}

snippet func
	def "Test xxx"() {
		given:
			def data = zz
			def client = Mock(Client) {
				get() >> "test"
			}
		when:
			def  result = client.get(req)
		then:
			result == exp
		where:
		req | exp
		t   | test

snippet prepare
	where:
	req | exp
	t   | test

snippet map
	def m = [ key1: "v", key2: "v" ]
