snippet pomgson
	<dependency>
	    <groupId>com.google.code.gson</groupId>
	    <artifactId>gson</artifactId>
	    <version>2.8.0</version>
	    <scope>compile</scope>
	</dependency>

snippet pomapache
	<dependency>
		<groupId>org.apache.commons</groupId>
	    <artifactId>commons-lang3</artifactId>
		<version>3.5</version>
	</dependency>


