snippet multiline
	cat <<EOF
		${0}
	EOF
snippet func
	${1} () {
		param1=$1
	    ${0}
	}
snippet if
	if [ "x$s" == "x" ]; then
		${1}
	#elif [ "x$b" == "x"]; then
	#    echo "else if"
	#else
	#    echo "else"
	fi 
