snippet log
	call g:vroom_logger.Error({$0})

snippet if
	if ${0}
	endif

snippet for
	for key in keys(mydict)

	endfor

snippet var
	let var = "x"

snippet function
	function! Getxx(xx)

	endfunction
